anyascii==0.3.2 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
cryptography==43.0.1 ; python_version >= "3.12" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "4.0"
django-allauth[google,socialaccount]==64.2.1 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.12" and python_version < "4"
django-extensions==3.2.3 ; python_version >= "3.12" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django-modelcluster==6.3 ; python_version >= "3.12" and python_version < "4.0"
django-permissionedforms==0.1 ; python_version >= "3.12" and python_version < "4.0"
django-taggit==5.0.1 ; python_version >= "3.12" and python_version < "4.0"
django-treebeard==4.7.1 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.1 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
draftjs-exporter==5.0.0 ; python_version >= "3.12" and python_version < "4.0"
et-xmlfile==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
filetype==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.9 ; python_version >= "3.12" and python_version < "4.0"
l18n==2021.3 ; python_version >= "3.12" and python_version < "4.0"
laces==0.1.1 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pillow-heif==0.18.0 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyjwt[crypto]==2.9.0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.6 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
telepath==0.3.1 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
wagtail==6.2.1 ; python_version >= "3.12" and python_version < "4.0"
willow[heif]==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
